<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1>Rechnung für die Aufschaltung der Werbung</h1>
		<p>Vielen Dank, das Sie sich entschieden haben Werbung auf unserer Seite aufzuschalten.</p>
	</body>
</html>