<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1>Rechnung für Kauf von Kurserfassungen</h1>
		<p>Vielen Dank, das Sie sich entschieden haben Kurse auf unserer Seite zu Kaufen<br></p>
		<p>Auf ihr Konto werden Ihnen <%= @amount.to_s %> weitere Kurserfassungen gutgeschrieben. </p>
	</body>
</html>