<div id="teaser">
  <h1>(Fach)Hochschul- & Weiterbildungsportal Schweiz </h1>
  <br />
  <br />
  	<h3>Herzlich willkommen!</h3>
	<p>Hier finden Sie Studienbeschriebe zu 160 Bachelorstudiengängen und 260 Masterstudiengängen sowie zu 377 weiteren Lehrgängen, die in der Schweiz angeboten werden (auch Fernstudium).</p>
</div>
