<div id="banner">


</div>

<div id="mainads">
	<div class="ads"></div>
	<div class="ads"></div>
	<div class="ads"></div>
	<div class="ads"></div>
	<div class="ads"></div>
</div>

<div id="info-wrapper">
	<section class="info">
		<article class="column1"><span class="icon fa fa-pie-chart"></span>
			<h2>Für jeden das richtige dabei!</h2>
			<p>Egal aus welcher Branche Sie kommen, sie finden hier bestimmt die
			richtige Weiterbildung für Sie.</p>
		</article>
		<article class="column2"><span class="icon fa fa-university"></span>
			<h2>Viele Universitäten und Hochschulen</h2>
			<p>Bei einem breitem Angebot von Weiterbildungen, haben Sie die möglichkeit
			Ihren bevorzugten Standort zu finden.</p>
		</article>
		<article class="column3"><span class="icon fa fa-graduation-cap"></span>
			<h2>Neue Chancen im Beruf</h2>
			<p>Unsere Seite ermöglicht Ihnen mit einer neuen Weiterbildung neue Berufschancen, in einem von Ihnen gewünschten Feld.</p>
		</article>
		<article class="column4"><span class="icon fa fa-line-chart"></span>
			<h2>Bilden sie sich weiter</h2>
			<p>Die Welt ist sehr schnelllebend, verpassen Sie also nicht den Anschluss. </p>
		</article>
	</section>
</div>