
<div class="container">
  <div class="row">
    <div class="col-md-9" style="width: 100%">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Fachhochschulen Übersicht</h3>
        </div>
        <%= render partial: 'grid' %>
      </div>
    </div>
  </div>
</div>
