#rdetails, #ldetails{
	margin-left: 5%;
	margin-right: 5%;
	width: 40%;
	float: left;


}

#bdetails{
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 30px;
	clear: both;
	word-wrap: break-word;

}

.padding_top{
	padding-top: 40px;
}

#title_pdf{
		display: inline;
}

#showcourse{
	width: 100%;
	table-layout: fixed;
	td{
		vertical-align: top;
		word-wrap: break-word;
		height:auto;
	}
}

.whitelink {
	a {
		color: #FFFFFF;
	}
}